<app-header> </app-header>
<section class="home">
  <div class="header">
    <div class="container">
      <p class="title"> Tempo para votação </p>
      <p class="sub-title"> 10:00 </p>
    </div>
    <div class="bg" style="background-image: url(https://static-images.ifood.com.br/image/upload//capa/11ac6a47-0bcb-4aa2-8e0f-2181bb73f643/201906122104_jwCp_2@2x.jpg);"><!----></div>
  </div>
  <div class="container">
    <h1 class="title title-winner">Restaurante escolhido</h1>
    <div class="winner">      
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4 </p>
            <p class="info">
            Frutos Do Mar
          </p>
        </div>
      </div>
    </div>

    <h1 class="title">Restaurantes </h1>
    <div class="grid">
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4 </p>
            <p class="info">
            Frutos Do Mar
          </p>
          <div class="footer">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4 </p>
            <p class="info">
            Frutos Do Mar
          </p>
          <div class="footer">
            <button type="button" class="btn btn-primary btn-sm">Votar</button>
          </div>
        </div>
      </div>
  
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4 </p>
            <p class="info">
            Frutos Do Mar
          </p>
          <div class="footer">
            <button type="button" class="btn btn-primary btn-sm">Votar</button>
          </div>
        </div>
      </div>
    
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4 
          </p>
          <p class="info">
            Frutos Do Mar
          </p>
          <div class="footer">
            <button type="button" class="btn btn-primary btn-sm">Votar</button>
          </div>
        </div>
      </div>
  
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4
          </p>
          <p class="info">
            Frutos Do Mar
          </p>
          <div class="footer">
            <button type="button" class="btn btn-primary btn-sm">Votar</button>
          </div>
        </div>
      </div>
  
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4
          </p>
          <p class="info">
            Frutos Do Mar
          </p>
          <div class="footer">
            <button type="button" class="btn btn-primary btn-sm">Votar</button>
          </div>
        </div>
      </div>
  
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4
          </p>
          <p class="info">
            Frutos Do Mar
          </p>
          <div class="footer">
            <button type="button" class="btn btn-primary btn-sm">Votar</button>
          </div>
        </div>
      </div>
  
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4
          </p>
          <p class="info">
            Frutos Do Mar
          </p>
          <div class="footer">
            <button type="button" class="btn btn-primary btn-sm">Votar</button>
          </div>
        </div>
      </div>
  
      <div class="card">      
        <div class="figure">
          <img loading="lazy" src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201910292239_11ac6a47-0bcb-4aa2-8e0f-2181bb73f643.png" alt="" class="logo" crossorigin="anonymous">
        </div>
        <div class="box-title">
          <p class="name">
            Coco Bambu - Porto Alegre
          </p>
          <p class="info rating">
            Avaliação: 4.4
          </p>
          <p class="info">
            Frutos Do Mar
          </p>
          <div class="footer">
            <button type="button" class="btn btn-primary btn-sm">Votar</button>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</section>