.home{
  padding-bottom: 80px;
  .blocked{
    opacity: 0.5;
  }

  .container {
    width: 100%;
    max-width: 1366px;
    margin: auto;
    padding: 0 30px;
    padding-top: 30px;
    transition: 500ms;
    background: #fff;
    overflow: hidden;
  }
  .title{
    padding-bottom: 20px;
  }

}